body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;

  background: #ffffff;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-web {
  color: #2196f3;
}

.logo-studio {
  color: #000000;
}

.nav-links {
  color: #212121;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.nav-links:hover {
  color: #2196f3;
}

.nav-links:focus {
  color: #2196f3;
}

.nav-contact {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.nav-contact:hover {
  color: #2196f3;
}

.nav-contact:focus {
  color: #2196f3;
}

.motto {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  color: #ffffff;
  width: 696px;
  height: 120px;
  margin-left: 452px;
  margin-top: 280px;
  padding: 200, 452, 280, 452;
  position: absolute;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.button-order {
  background-color: #2196f3;
  color: #ffffff;
  width: 200px;
  height: 50px;
  margin-left: 700px;
  margin-top: 430px;
  border-style: none;
  border-radius: 4px;
  position: absolute;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
}

.atuts-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.atuts-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.section-team {
  background: #f5f4fa;
}

.team-names {
  font-weight: 500;
  line-height: 19px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

footer {
  background-color: #2f303a;
}

.footer-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
}

.footer-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.footer-adress:hover {
  color: #2196f3;
}

.footer-adress:focus {
  color: #2196f3;
}
.footer-contact:hover {
  color: #2196f3;
}

.footer-contact:focus {
  color: #2196f3;
}

/* style css odrębne dla drugiej strony projektu */

.button-offer {
  border-style: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
}

.button-offer:hover {
  background-color: #2196f3;
  color: #ffffff;
}

.button-offer:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
