body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background-color: #ffffff;
  color: #212121;
  font-size: 14px;
  font-weight: 400px;
  letter-spacing: 0.03em;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-web {
  color: #2196f3;
}

.logo-studio {
  color: #000000;
}

.logo-studio-white {
  color: #ffffff;
}

element-style {
  list-style: none;
  color: #2196f3;
}

.list-dots {
  list-style: none;
}

.nav-list {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list:hover {
  color: #2196f3;
}

.nav-list:focus {
  color: #2196f3;
}

.current {
  color: #2196f3;
}

.header-contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-contact:hover {
  color: #2196f3;
}

.header-contact:focus {
  color: #2196f3;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.hero-title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.button-order {
  background-color: #2196f3;
  color: #ffffff;
  width: 200px;
  border-style: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  font-family: inherit;
  cursor: pointer;
}

.atuts-header {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.atuts-description {
  line-height: 1.71;
  font-size: 14px;
  color: #757575;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-team {
  background-color: #f5f4fa;
}

.team-names {
  font-weight: 500;
  line-height: 1.19;
}

.team-profession {
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
}

footer {
  background-color: #2f303a;
}

.footer-adress {
  line-height: 1.71;
  color: #ffffff;
}

.footer-contact {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-adress:hover {
  color: #2196f3;
}

.footer-adress:focus {
  color: #2196f3;
}
.footer-contact:hover {
  color: #2196f3;
}

.footer-contact:focus {
  color: #2196f3;
}

/* style css odrębne dla drugiej strony projektu */

.button-offer {
  border-style: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  background-color: #f5f4fa;
  cursor: pointer;
}

.button-offer:hover {
  background-color: #2196f3;
  color: #ffffff;
}

.button-offer:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-type {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}
